/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .MetricPanel {
        position: absolute;
        left: calc(73% + 4 * 12px);
        margin: 0;
        width: calc(26% - 4 * 12px);
        height: 90%;
        border-radius: 4px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.24);
    }
    .metric-panel-chart {
        padding: 12px;
        width: calc(100% - 2 * 12px);
        height: 30%;
        /* margin-bottom: 0.3%; */
        overflow: hidden;
    }
    .metric-panel-chart-title {
        font-size: 1.2em;
        display: inline-block;
    }
    .metric-panel-chart-container {
        width: 100%;
        height: calc(100% - 1.2em);
    }    
}