/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .MetricPanel {
        position: static;
        padding: 12px;
        margin-left: 2.5%;
        width: calc(95% - 2 * 12px);
        height: 140%;
        border-radius: 4px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.24);
        margin-bottom: 10px;
    }
    .metric-panel-chart {
        padding: 12px;
        width: calc(100% - 2 * 12px);
        height: 30%;
        /* margin-bottom: 0.3%; */
        overflow: hidden;
    }
    .metric-panel-chart-title {
        font-size: 1.2em;
        display: inline-block;
    }
    .metric-panel-chart-container {
        width: 100%;
        height: calc(100% - 1.2em);
    }
}